.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #772ce8;
    padding: 10rem;
    margin-top: 5rem;
    border-radius: 1rem;
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.card img {
    width: 100%;
    display: block;
}

.live {
    color: red;
}

.card h2 {
    font-size: 4.5rem;
}

.card h3 {
    font-size: 3.2rem;
}

.card p{
    font-size: 2.75rem;
}

@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem); /* moves the element to the bottom */
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  